.img-thumbnail{
    width: 50px;
}
.side{
    width: 25%;
    background-image: linear-gradient(rgb(212, 132, 132),rgb(122, 99, 99),rgb(15, 9, 9));

}
.remaining{
    background-image:url(background_2.jpg);
    width: 75%;
    padding: 20px;
    height: 480px;
    overflow-y: scroll;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.card img{
    height: 250px;
}
.shopping-box{
    display: flex;
    
}

@media screen and (max-width:700px) {
    .shopping-box{
        display: inline;
    }
    .side{
        width: 100%;
    }
    .remaining{
        width: 100%;
        background-image: url(eifeltower.jpg);
    }
    
}
